html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

#root {
  display: flex;
  flex-direction: column;
  max-width: 1500px;
  margin: 0 auto;
  padding: 2rem;
}

.main {
  flex: 1;
}


.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
  cursor: pointer;
}

.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 2rem;
}

.header {
  margin: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

